<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Home</h1>

    <form action="/" method="POST" enctype="multipart/form-data">

        <p>Choose </p>
        <input type="file" multiple='multiple' name="image" id="file">
        <input type="submit" name="" id="">

    </form>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr ;">
        {{#each arr}}

        {{#if this.img}}
        {{!-- <input type="text" style="width: 300px;height: 200px; margin: 10px; border: 2px solid black;" > --}}
        <img style="width: 300px;height: 200px; margin: 10px; border: 2px solid black;" src="{{this.path}}" alt="">
        {{/if}}

        {{#if this.vid}}
        <video style="width: 300px; height: 200px; margin: 10px; border: 2px solid black;" controls src="{{this.path}}"></video>
        {{/if}}

        {{/each}}
    </div>

  


</body>
{{!-- <script>
           console.log({{arr}})

</script> --}}

</html>